/*
purple="#7f43d6"
torquise="#33cfb9"

*/
body{
	 background-image: url("img/bg.png");
	 background-size: 1600px;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
}

a{
	 font-family: 'Work Sans', sans-serif;
	}
.sign{
	color: green;
	font-weight: 1000;
}
.search{
	background: none;
}
.main.{
	position: relative;
}
.title{
	color: #5E1486;
}
.imgs{
	position: absolute;
}
.i1{
	top: 16%;

}
.i2{
	top: 13%;
	right: 20%;
}
.i3{
	top: 55%;
}
.title{
	font-size: 50px;
	font-family: 'Rubik', sans-serif;
}
.textpart{
	position: absolute;
	left: 15%;
	top: 25%;
}